
@{
@model IEnumerable<Wikipages.Models.Business>

    <html>
    <head>
        <title>Business List</title>
    </head>
    <body>
        <h2>Businesses</h2>
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        <ul>
            @foreach (var listItem in Model)
            {
                <li>
                    @Html.DisplayFor(modelItem => listItem.Name)
                    @Html.ActionLink("Details", "Details", new { id = listItem.Id })
                </li>
            }
        </ul>
    </body>
</html>
}
